@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.firstContainer {
  height: 100vh;
  background-color: #14213d;
}


.sub {
  text-decoration: none;
  color: inherit;
}

.lista {
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  height: 100%;
  width: 150px;
}

.navAdmin:hover {
  background-color: #ffb703;
}

.item {
  cursor: pointer;
  transition: 400ms ease;
}

.item:hover{
  transform: translateY(-3%);
}